<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/serverCSS.css">
        <title>Software Dev Islanders</title>
    </head>
    <body>
        <script src="js/serverJS.js" async defer></script>
        <script src="https://api.mathjs.org"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <p>Sprint 2</p>
        <div class="game-container">
            <form action="/logout" method="GET" class="logout">
                <div class="form-container">
                    <button type="submit" class="index-logout" id="logoutButton">Logout</button>
                </div>
            </form>
        </div>
    </body>
</html>