<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/serverCSS.css">
        <title>Drew's Assignment 6</title>
    </head>
    <body>
        <script src="js/serverJS.js" async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div class="register-container">
            <h1>Register</h1>
            <% if (messages.error){ %>
                <%= messages.error %>
            <% } %>
            <br>
        </div>
        <div class="register-container">
            <form action="/register" method="POST">
                <div class="form-container" id="fnameInput">
                    <label for="fname" class="form-input-label" id="formFnameLabel">First Name:</label>
                    <input type="text" class="form-input" id="formFnameInput" name="fname" required>
                </div>
                <div class="form-container" id="lnameInput">
                    <label for="lname" class="form-input-label" id="formLnameLabel">Last Name:</label>
                    <input type="text" class="form-input" id="formLnameInput" name="lname" required>
                </div>
                <div class="form-container" id="emailInput">
                    <label for="email" class="form-input-label" id="formEmailLabel">Email:</label>
                    <input type="text" class="form-input" id="formEmailInput" name="email" required>
                </div>
                <div class="form-container" id="cellInput">
                    <label for="cell" class="form-input-label" id="formCellLabel">Cell Phone:</label>
                    <input type="text" class="form-input" id="formCellInput" name="cell" required>
                </div>
                <div class="form-container" id="hoursInput">
                    <label for="hours" class="form-input-label" id="formHoursLabel">Hours Desired Per Week:</label>
                    <input type="text" class="form-input" id="formHoursInput" name="hours" required>
                </div>
                <div class="form-container" id="addressInput">
                    <label for="address" class="form-input-label" id="formAddressLabel">Address:</label>
                    <input type="text" class="form-input" id="formAddressInput" name="address" required>
                </div>
                <div class="form-container" id="passwordInput">
                    <label for="password" class="form-input-label" id="formPasswordLabel">Password:</label>
                    <input type="text" class="form-input" id="formPasswordInput" name="password" required>
                </div>
                <div class="form-container" class="formNav">
                    <button type="submit" class="form-submit" id="registerButton">Submit</button>
                </div>
                <div class="form-container" class="formNav">
                    <a href="/login">Login Here</a>
                </div>
            </form>
        </div>
    </body>
</html>
